* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

 /* header top*/

.wrapper {
    width: 1024px;
    margin: auto;
}

.bg-light {
    background-color: rgb(245, 249, 253);
}

.wrapper {
    width: 1024px;
}

header nav{
    padding: 10px 0;
    height: 60px;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

header nav ul li {
    display: inline-block;
}

.select-transparent {
    border: none;
    background-color: transparent;
    margin-right: 10px;
    color: rgb(66, 84, 99);
}

header nav ul li a {
    text-decoration: none;
    margin-left: 10px;
    padding: 10px;
    color: rgb(66, 84, 99);
}

header nav .nav-top-left ul li div {
    border-left: 1px solid rgb(139, 147, 151);
}

header nav .nav-top-right ul li {
    margin-left: 15px;
}

header nav .nav-top-right ul li button {
    padding: 10px;
}

button {
    border-radius: 5px;
    padding: 5px;
}

.button-trasparent {
    background-color: transparent;
    border: none;
}

.button-white {
    background-color: white;
    border: 0.5px solid rgb(238, 126, 98);
    color: rgb(238, 126, 98);
}

.button-green {
    background-color: rgb(238, 126, 98);
    border: none;
    color: white;
}

/* header bottom */

header .nav-bottom .nav-bottom-left {
    height: 42px;
    width: 100px;
}

/* hero */

main .hero {
    /* height: 500px; */
    background-color: red;
}

main .hero .container-h1 {
    width: 50%;
    /* height: 500px; */
    background-color: gray;
    padding: 50px 0 80px 0;
}

.contained-h1 {
    width: 90%;
    height: 70%;
    background-color: green;
    top: 10%;
    color: rgb(55, 71, 89);
}

main .hero .container-h1 .contained-h1 > * {
    margin-bottom: 30px;
}

main .hero .container-h1 .contained-h1 button {
    padding: 20px;
}

.font-size-small {
    font-size: 10px;
}





/* divider */

.divider {
    height: 60px;
    background-color: rgb(187, 233, 228);
    border-top: 1px solid rgb(66, 84, 99);
    border-bottom: 1px solid rgb(66, 84, 99);
}