* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

 /* header top*/

.wrapper {
    width: 1024px;
    margin: auto;
}

.bg-light {
    background-color: rgb(245, 249, 253);
}

.wrapper {
    width: 1024px;
}

header nav{
    padding: 10px 0;
    line-height: 60px;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

header nav ul li {
    display: inline-block;
}

.select-transparent {
    border: none;
    background-color: transparent;
    margin-right: 10px;
    color: rgb(66, 84, 99);
}

header nav ul li a {
    text-decoration: none;
    padding: 10px;
    color: rgb(66, 84, 99);
}

header nav .nav-top-left ul li a {
    border-left: 1px solid rgb(139, 147, 151);
    padding-left: 20px;
    margin-left: 10px;
}

header nav .nav-top-right ul li {
    margin-left: 15px;
}

header nav .nav-top-right ul li button {
    padding: 10px;
}

button {
    border-radius: 5px;
    padding: 5px;
}

.button-trasparent {
    background-color: transparent;
    border: none;
}

.button-white {
    background-color: white;
    border: 0.5px solid rgb(238, 126, 98);
    color: rgb(238, 126, 98);
}

.button-orange {
    background-color: rgb(238, 126, 98);
    border: none;
    color: white;
}

.button-orange-large {
    background-color: rgb(238, 126, 98);
    border: none;
    color: white;
    padding: 20px;
}

/* header bottom */

header .nav-bottom .nav-bottom-left {
    position: relative;
    top: 10px;
}

/* hero */

main .hero {
    background-image: url(img/jumbotron.png);
    background-size: 67%;
    background-repeat: no-repeat;
    background-position: top right;
    background-color: rgb(253, 246, 240); /* per completare il background */
}

main .hero .container-h1 {
    width: 50%;
    padding: 50px 0 80px 0;
}

.color-text{
    color: rgb(55, 71, 89);
}

main .hero .container-h1 .contained-h1 > * {
    margin-bottom: 30px;
}

.font-size-small {
    font-size: 10px;
}

/* divider */

.divider {
    height: 60px;
    background-color: rgb(187, 233, 228);
    border-top: 2px solid rgb(66, 84, 99);
    border-bottom: 2px solid rgb(66, 84, 99);
}

/* prima sezione */
/* prima row */

.bg-lightblue {
    background-color: rgb(245, 249, 252);
}

.padding {
    padding: 30px 0;
}

main section .container {
    width: 70%;
    margin: auto;
    text-align: center;
    margin-bottom: 30px;
}

main section .container .square-box {
    width: 200px;
    margin: auto;
}

main section .container .square-box img {
    width: 100%;
}

main section .container h2 {
    margin-bottom: 20px;
}

.bg-white {
    background-color: white;
    border-radius: 5px;
    border: 1.5px solid rgb(232, 237, 242);
}

.row {
    margin-top: 30px;
}

section .row .row-left {
    width: 33.3%;
}
section .row .row-right {
    width: 66.6%;
}

section .row .row-left,
section .row .row-right {
    padding: 50px 20px;
} 

section .row .contained-row-left {
    width: 70%;
    height: 100%;
    margin: auto;
    text-align: center;
}

section .row .contained-row-left img {
    width: 60%;
}

section .row .row-left button {
    padding: 20px 30px;
    margin-top: 15px;
} 

section .row .row-right .contained-row-right > * {
    margin-bottom: 25px;
}

.row .contained-row-right h4 {
    display: inline-block;
}

.row .contained-row-right div.hr {
    display: inline-block;
    border-top: 2px solid rgb(138, 139, 141);
    width: 60%;
    margin-left: 30px;
    position: relative;
    top: 20px;
}

.check {
    background-color: rgb(75, 235, 75);
    border-radius: 50%;
    display: inline-block;
    width: 15px;
    text-align: center;
    color: white;
    line-height: 15px;
    font-size: 10px;
}

.contained-row-right span {
    margin: 0 15px;
}

/* seconda row  */

.colum {
    width: calc(33.3% - 40px);
    height: 600px;
    padding: 30px;
    position: relative;
}

section .row .colum h3,
section .row .colum p,
section .row .colum h4,
section .row .colum .container-img,
section .row .colum .container-check {
    margin-bottom: 25px;
}

section .row .colum div.container-img {
    width: 50%;
    height: 120px;
    margin: auto;
    margin-bottom: 20px;

}

section .row .colum div img {
    width: 100%;
}

section .row .colum h3,
section .row .colum p,
section .row .colum h4 {
    text-align: center;
}

section .row .colum p {
    height: 150px;
    border-bottom: 1px solid gray;
}

section .row .colum button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

section .row .colum:nth-child(2) {
    margin-left: 60px;
    margin-right: 60px;
}

