* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-family: 'Roboto', sans-serif;
}

/* utility classe */

.wrapper {
    width: 1024px;
    margin: auto;
}

.wrapper {
    width: 1024px;
}

.color-text{
    color: rgb(55, 71, 89);
}

.font-size-small {
    font-size: 10px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.inline-block {
    display: inline-block;
    vertical-align: middle;
}

button {
    border-radius: 5px;
    padding: 5px;
}

.button-trasparent {
    background-color: transparent;
    border: none;
}

.button-white {
    background-color: white;
    border: 0.5px solid rgb(238, 126, 98);
    color: rgb(238, 126, 98);
}

.button-orange {
    background-color: rgb(238, 126, 98);
    border: none;
    color: white;
}

.button-orange-large {
    padding: 20px 30px;
    background-color: rgb(238, 126, 98);
    border: none;
    color: white;
} 

.padding {
    padding: 30px 0;
}

.row {
    margin-top: 30px;
}

.check {
    background-color: rgb(75, 235, 75);
    border-radius: 50%;
    width: 15px;
    text-align: center;
    color: white;
    line-height: 15px;
    font-size: 10px;
}

 /* header top */

.bg-light {
    background-color: rgb(245, 249, 253);
}

header nav{
    line-height: 60px;
}

header nav ul li a {
    text-decoration: none;
    padding: 0 10px;
    color: rgb(66, 84, 99);
}

header nav .nav-top-left ul li:last-child a {
    border-left: 1px solid rgb(139, 147, 151);
}

header nav .nav-top-right ul li {
    margin-left: 15px;
}

header nav .nav-top-right ul li button {
    padding: 10px;
}

/* header bottom */

header .nav-bottom .nav-bottom-left {
    position: relative;
    top: 10px;
}

/* hero */

main .hero {
    background-image: url(img/jumbotron.png);
    background-size: 67%;
    background-repeat: no-repeat;
    background-position: top right;
    background-color: rgb(253, 246, 240); /* per completare il background */
}

main .hero .container-h1 {
    width: 50%;
    padding: 50px 0 80px 0;
}

main .hero .container-h1 .contained-h1 > * {
    margin-bottom: 30px;
}

/* divider */

.divider {
    height: 60px;
    background-color: rgb(187, 233, 228);
    border-top: 2px solid rgb(66, 84, 99);
    border-bottom: 2px solid rgb(66, 84, 99);
}

/* prima sezione */

.bg-lightblue {
    background-color: rgb(245, 249, 252);
}

main section .container {
    padding: 0 130px;
    margin: auto;
    text-align: center;
    margin-bottom: 30px;
}

main section .container .square-box {
    width: 250px;
    margin: auto;
}

main section .container .square-box img {
    width: 100%;
}

main section .container h2 {
    margin-bottom: 20px;
}

/* prima row */


.bg-white {
    background-color: white;
    border-radius: 5px;
    border: 1.5px solid rgb(232, 237, 242);
}

section .row .row-left {
    width: 33.3%;
}
section .row .row-right {
    width: 66.6%;
}

section .row .row-left,
section .row .row-right {
    padding: 50px 20px;
} 

section .row .contained-row-left {
    width: 70%;
    margin: auto;
    text-align: center;
}

section .row .contained-row-left img {
    height: 120px;
    margin-bottom: 15px;
}

section .row .row-right .contained-row-right > * {
    margin-bottom: 25px;
}

.row .contained-row-right div.hr {
    border-top: 2px solid rgb(138, 139, 141);
    width: 60%;
    margin-left: 30px;
}

.contained-row-right span {
    margin: 0 15px;
}

/* prima sezione  */
/* seconda row  */

.colum {
    width: calc(33.3% - 20px);
    padding: 30px;
}

section .row .colum h3,
section .row .colum p,
section .row .colum h4,
section .row .colum .container-img,
section .row .colum .container-check {
    margin-bottom: 25px;
}

section .row .colum div.container-img {
    height: 120px;
    margin: auto;
    width: 50%;
    margin-bottom: 20px;
}

section .row .colum div img {
    height: 120px;
}

section .row .colum h3 {
    margin-top: 40px;
}

section .row .colum h3,
section .row .colum p,
section .row .colum h4 {
    text-align: center;
}

section .row .colum p {
    height: 150px;
    border-bottom: 1px solid gray;
}

section .row .colum button {
    display: block;
    margin: auto;
}

section .row .colum:nth-child(2) {
    margin: 0 30px;
}

/* seconda sezione  */

.bg-bluegreen {
    background-color: rgb(78, 174, 174);
    height: 600px;
}

section.bg-bluegreen .row {
    width: 100%;
    color: white;
    text-align: center;
}

section.bg-bluegreen .row > * {
    margin-bottom: 50px;
}

section .row .container-table .container-item-table {
    width: 25%;
}

section .row .container-table .container-item-table > * {
    margin: 20px 0;
}

section .row .container-table .container-item-table h2 {
    font-size: 35px;
}

section .row .container-table .container-item-table p {
    font-size: 12px;
}

.border-right-white {
    border-right: 1px solid white;
}

.border-bottom-white {
    border-bottom: 1px solid white;
}

/* terza sezione  */
/* prima row  */

.container-rows .row-top {
    height: 300px;
    padding: 40px 20px;
    text-align: center;
}

.container-rows .row-top .row-left {
    width: 33.3%;
}

.container-rows .row-top .row-left .contained-row-left h2 {
    margin-bottom: 20px;
    font-size: 45px;
}
.container-rows .row-top .row-left .contained-row-left p {
    margin-bottom: 5px;
}
.container-rows .row-top .row-left .contained-row-left h2 {
    margin-top: 20px;
}

.container-rows .row-top .row-right {
    padding-top: 30px;
    width: 66.6%;
}

.row-right .row-right-img img {
    width: 24%;
}

/* terza sezione */
/* seconda row  */

.container-rows .row-but .container-h2 > div {
    width: 50%;
    height: 260px;
}

.container-rows .row-but .container-img {
    background-image: url(img/woman.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

.container-rows .row-but .container-h2 .contained-h2 > *{
    margin-bottom: 30px;
}

/* footer  */

.bg-color-dark {
    background-color: rgb(55, 73, 89);
}

.container-footer .container-colum {
    width: 25%;
}

.container-footer .container-colum h4 {
    color: white;
    margin-bottom: 20px;
}

.container-footer .container-colum ul li {
    list-style: none;
    margin-bottom: 20px;
}

footer ul li a {
    text-decoration: none;
    color: rgb(204, 213, 224);
}

.container-footer .container-colum ul li button {
    background-color: rgb(219, 222, 224);
    border: none;
    padding: 10px;
    color: rgb(55, 73, 89);
}

.container-footer .container-colum ul.icon li {
    margin-right: 20px;
}

footer .row-languages {
    margin-top: 40px;
    border-bottom: 1px solid rgb(219, 222, 224);
    padding-bottom: 20px;
}

footer .row-languages ul li {
    margin: 0 10px;
}

footer .row-languages ul {
    text-align: center;
}

footer .footer-bottom {
    margin-top: 10px;
    padding-top: 10px;
}

footer .footer-bottom > div {
    width: 50%;
}

footer .footer-bottom .footer-bottom-left {
    color: rgb(240, 244, 244);
}

footer .footer-bottom-right .container-footer-bottom-right {
    text-align: right;
}

footer .footer-bottom .footer-bottom-right a {
    text-decoration: none;
    color: rgb(219, 222, 224);
    margin-left: 20px;
}

